.faq {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    @include adaptive-value(gap, 20px 30px, 10px 20px);
    @include media-tablet {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
