.ui {
  &-h2 {
    margin: 0;
    font-weight: 600;
    @include adaptive-value(font-size, 50px, 25px);
    line-height: 1.1;
  }
  &-h3 {
    margin: 0;
    font-weight: 600;
    @include adaptive-value(font-size, 25px, 20px);
    line-height: 1.2;
  }
  &-h4 {
    margin: 0;
    font-weight: 600;
    @include adaptive-value(font-size, 25px, 18px);
  }
  &-h5 {
    margin: 0;
    font-weight: 600;
    @include adaptive-value(font-size, 22px, 15px);
    &--medium {
      font-weight: 500;
    }
  }
  &-h6 {
    margin: 0;
    font-weight: 600;
    @include adaptive-value(font-size, 20px, 15px);
  }
}
