.footer {
  display: grid;
  grid-template-columns: 37% 49%;
  justify-content: space-between;
  align-items: end;
  @include adaptive-values((
    margin-top: (55px, 50px, 30px),
    font-size: (14px, 14px)
  ));
  color: rgba(255, 255, 255, 0.6);
  @include media-tablet {
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 0 var(--inner-pd-mob);
    text-align: center;
  }
  &__meta {
    p {
      margin: 0;
    }
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include adaptive-value(gap, 20px, 14px, 10px);
    @include media-tablet {
      flex-direction: column;
    }
  }
  &__link {
    color: inherit;
    transition: color $transitionDuration ease;

    @include media-hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
