.features {
  &__slider {
    overflow: visible;
    @include media-tablet {
      overflow: hidden;
    }
  }
  &__controls {
    display: none;
    @include media-tablet {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      display: grid;
      width: 100%;
      gap: 10px 20px;
      pointer-events: none;
      &::before {
        content: '';
        grid-column: 1 / -1;
        grid-row: 1;
        aspect-ratio: 1.74;
      }
    }
    &-inner {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 0 var(--inner-pd-mob);
      pointer-events: auto;
      .ui-slider-button {
        flex-shrink: 0;
        &--prev {
          order: 1;
        }
        &--next {
          order: 3;
        }
      }
      .ui-slider-pagination {
        order: 2;
      }
    }
  }
  &__main {
    display: block;
    height: auto;
    @include media-tablet {
      display: flex;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    @include adaptive-value(gap, 70px, 45px, 65px);
    height: auto;
    @include media-tablet {
      flex-direction: column;
      flex-shrink: 0;
      justify-content: flex-start;
    }
    &:not(:last-child) {
      @include adaptive-value(margin-bottom, 100px, 45px, 65px);
      @include media-tablet {
        margin-bottom: 0;
      }
    }
    &:nth-child(even) {
      .features__content {
        order: -1;
        @include media-tablet {
          order: unset;
        }
      }
    }
  }
  &__content {
    flex-shrink: 0;
    align-self: center;
    flex: auto;
    @include media-tablet {
      padding: 0 var(--inner-pd-mob);
    }
  }
  &__ui-h3 {
    max-width: 84%;
    @include media-tablet {
      max-width: 100%;
    }
    &:not(:last-child) {
      @include adaptive-value(margin-bottom, 15px, 12px);
    }
  }
  &__img {
    align-self: flex-start;
    flex-shrink: 0;
    width: 66%;
    @include adaptive-values((
      padding-top: (50px, 38px, 25px),
      padding-right: (45px, 38px, 25px),
      padding-left: (45px, 38px, 25px),
      border-radius: (20px, 10px)
    ));
    background: $gradientBg;
    overflow: hidden;
    @include media-tablet {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      aspect-ratio: 1.74;
    }
    img {
      width: 100%;
      object-fit: contain;
      @include adaptive-values((
        border-radius: ((10px 10px 0 0), (10px 10px 0 0)),
      ));
    }
  }
  &-count__ui-p2 {
    @include adaptive-value(margin-bottom, 12px, 12px);
  }
}
